// GLOBAL
$transition: 150ms;
$transition-slow: 320ms;
$finger-size: 48px;
$border-radius: 4px;
$formControlHeight: 55px;

// COLORS
$color1: rgb(51, 51, 51);
$bg1: #F3F2F0;
$bg2: #48CCCE; // btn
$bd1: #e4e4e4;

// TYPOGRAPHY
$flh-normal: 1.3;
$fw-light: 200;
$fw-normal: normal;
$fw-medium: 500;
$fw-bold: bold;

// media size
$small: 768px;
$medium: 992px;
$large: 1200px;
$superLarge: 1500px;

/// BOOTSTRAP CUSTOMIZED VARIABLES
// $theme-colors: () !default;
// $theme-colors: map-merge((
//   "default":    $default
// ), $theme-colors);


$custom-file-text: (
  placeholder: (
    en: "Choose file...",
    es: "Seleccionar archivo...",
    tr: "Dosya seç...",
  ),
  button-label: (
    en: "Browse",
    es: "Navegar",
    tr: "Gözat"
  )
);
