.main-footer
  ._1
    .container.phn
      .row
        .col-sm-2.col-xs-6
          .title Borocol
          .links
            a.link(href="#") About Us
            a.link(href="#") Recruitment
            a.link(href="#") Media
            a.link(href="#") FAQs
            a.link(href="#") Contact Us
        .col-sm-2.col-xs-6
          .title Contact Us
          .links
            a.link(href="#") Borocol
            a.link(href="#") 103 Arthur Road
            a.link(href="#") Windsor
            a.link(href="#") SL4 1 RU
            a.link(href="#") sales@borocol.com
            a.link(href="#") 01753 833442
        .col-sm-2.col-xs-6
          .title Legal & Cookies
          .links
            a.link(href="#") Terms & Conditions
            a.link(href="#") Privacy Policy
            a.link(href="#") Cookie Policy
            a.link(href="#") Returns Policy
            a.link(href="#")
  ._2
    .container.phn 
      | © 2017 All Rights Reserved Borocol - Privacy Policy - Terms and conditions
