mixin dataRow
  .data-row
    .img-area
      img(data-src="assets/pic/header-course.jpg")
    .text-area
      .title English Max Course
      .description
        | Connect English Language Institute 
        br
        | Mission Valley
      .info SAN DIEGO, USA
      
.main-header
  .container
    .brand-bar
      .brand
        img(data-src="assets/img/brand.png")
      .tool-bar.pull-right
        a(href="#") partner with us
        .divider |
        +icon('user')
        a.mlm(href="#") Login
        .divider |
        +icon('credit-card')
        a.mlm(href="#") USD
        .divider |
        span.language
          +icon('language')
          a.mlm(href="#") EN
          +icon('caret-down').mls.hidden-md.hidden-lg
        .divider |
        a(href="#") Q&a
        button.mlm.no-bb.btn-black.search-btn(type="button")
          +icon('search')
        button.no-bb.btn-black.menu-btn.hidden-md.hidden-lg(type="button")
          +icon('bars')
  .banner-bar
    img.banner(data-src="assets/pic/header.jpg")
    .lb1
      .container
        .course-search-card.bg1.pull-right.hidden-xs.hidden-sm.hidden-md
          form.search-wrapper
            input.input(type="text" placeholder="Course Name...")
            button.btn-icon.no-bb
              +icon('arrow-right')
          .data-rows-wrapper
            .data-rows
              +dataRow
              +dataRow
              +dataRow
              +dataRow
              +dataRow
              +dataRow
              +dataRow
              +dataRow
              +dataRow
              +dataRow
              +dataRow
              +dataRow
    .menu-card.bg1.pull-right.hidden-lg
      .menu
        .menu-item
          a(href="#")
            span HKD
            +icon('caret-down')
          .sub-menu
            .menu-item
              a(href="#") HKD
            .menu-item
              a(href="#") HKD
            .menu-item
              a(href="#") HKD
        .menu-item
          a(href="#") Login
        .menu-item
          a(href="#") Join us
  form.filter-bar.bg1
    .container
      select.select1.country-select(placeholder="Select Country")
        option Select Country
        option USA
      select.select1.subject-select(placeholder="Select Subject")
        option Select Subject
        option USA
      button.btn1 Find Courses
