@import "./config/variables.scss";
@import "./config/mixins.scss";
@import "./helper/global.scss";
// global
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: $color1;
}

// common parts
@import "parts/main-header.scss";
@import "parts/main-footer.scss";
