@import "./config/variables.scss";
@import "./config/mixins.scss";

.home-block {
  padding-top: 60px;
  padding-bottom: 80px;
}

.home-block-title {
  font-size: 60px;
  font-weight: lighter;
  text-align: center;
  margin: 0;
  // xs extra small 特小屏幕 手机
  @media(max-width: $small) {
    font-size: 30px;
  }
}

.home-block {
  .card {
    position: relative;

    .number-mark {
      position: absolute;
      left: -23px;
      top: -5px;
      background-color: transparent;
      width: 64px;
      height: 64px;
      z-index: 2;
    }

    .mark {
      background-color: rgb(255, 178, 0);
      position: absolute;
      left: 0;
      top: 10%;
      color: #fff;
      font-weight: bold;
      padding: 5px 10px;
    }

    .title {
      padding-left: 30px;
    }

    .img-area {
      .price {
        background-color: rgb(112, 112, 112);
        position: absolute;
        top: 70%;
        right: 0;
        padding: 5px 10px;
        font-size: 16px;
        color: rgb(255, 255, 255);
        font-weight: bold;
      }

      .original-price {
        font-size: 13px;
        text-align: right;
        text-decoration: line-through;
      }
    }

    .text-area {
      .col-left {
        width: 80%;
        float: left;
      }

      .col-right {
        width: 20%;
        float: right;

        .info {
          font-size: 10px;
        }
      }
    }
  }
  @media(max-width: $superLarge) {
    .card {
      .text-area {
        .col-left {
          float: none;
          width: 100%;
        }

        .col-right {
          float: none;
          width: 100%;
        }
      }
    }
  }
  // xs extra small 特小屏幕 手机
  @media(max-width: $small) {
    .mini{
      .card-wrapper-to-keep-shadow-in-slick{
        padding: 0 10px;
        padding-bottom: 15px;
      }
      .card{
        width: auto;
      }
    }
  }
}
$iconTealColor: #47CBCD;

.most-viewed-block {
  .cards {
    margin-top: 50px;
    position: relative;
  }
  $width: 38%;

  .card {
    width: $width;

    .title {
      padding-left: 40px;
    }
  }
  $scale: 0.76;
  $offset: ($width - $width * $scale) / 2;

  .card:nth-child(1) {
    position: absolute;
    left: -$offset;
    transform: scale($scale);
  }

  .card:nth-child(3) {
    position: absolute;
    right: -$offset;
    top: 0;
    transform: scale($scale);
  }
  // center card
  .card:nth-child(2) {
    margin: 0 auto;
  }

  .img-area {
    padding-bottom: 55%;
  }

  .text-area {
    .icon {
      color: $iconTealColor;
    }
  }
}

.featured-courses-block {
  .cards-bg {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

    .card {
      width: 49.5%;
    }

    .img-area {
      padding-bottom: 54%;
    }
  }

  .cards-sm {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

    .card {
      width: 32.7%;
    }

    .img-area {
      padding-bottom: 54%;
    }
  }

  .text-area {
    .icon {
      color: $iconTealColor;
    }
  }
}

.early-bird-courses-block,
.soon-to-start-courses-block {
  $iconColor: rgb(255, 178, 0);

  .pics {
    margin-bottom: 70px;
    margin-right: -15px;

    a {
      margin-right: 15px;
    }

    img {
      width: 100%;
    }
  }

  .title-bar {
    position: relative;

    .title {
      text-align: left;
    }

    .more {
      position: absolute;
      right: 0;
      bottom: 8px;
      font-size: 21px;
      font-weight: 500;
      color: $iconColor;
      text-transform: uppercase;
    }
  }
  $space: 3%;

  .cards {
    margin-top: 40px;
    margin-bottom: -$space;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    width: 32%;
    margin-bottom: $space;

    .img-area {
      height: 47.333%;
    }

    .text-area {
      .icon {
        color: $iconColor;
      }
    }
  }
  @media(max-width: $large) {
    .card {
      width: 49%;
    }
  }
  @media(max-width: $medium) {
    .title-bar {
      .more {
        position: static;
      }
    }
  }

  .cards.mini {
    display: block;

    .slick-list {
      margin-bottom: 20px;
    }

    .card {
      margin-bottom: 0;
    }
  }
}

.soon-to-start-courses-block {
  $iconColor: #7CC576;

  .title-bar {
    .more {
      color: $iconColor;
    }
  }

  .card {
    .text-area {
      .icon {
        color: $iconColor;
      }
    }
  }
}

.big-block {
  .pics {
    margin-bottom: 70px;
    margin-right: -15px;

    a {
      margin-right: 15px;
    }

    img {
      width: 100%;
    }
  }

  .home-block-title {
    font-size: 50px;
    margin-top: 70px;
  }

  .carousel._1 {
    .carousel-btn {
      top: 50px;
    }

    .carousel-item {
      width: 260px;

      .img-area {
        overflow: hidden;
        width: 100%;
        height: 0;
        padding-bottom: 180 / 260 * 100 + %;

        img {
          width: 100%;
        }
      }
    }
  }

  .carousel._2 {
    .carousel-btn {
      top: 120px;
    }

    .carousel-item {
      .img-area {
        width: 220px;
        height: 0;
        padding-bottom: 148%;
      }
    }
  }

  .carousel {
    // sm md
    @media(max-width: $large) and (min-width: $small) {
      width: 80%;
      margin: 0 auto;
      width: calc(100% - 60px * 2);
    }

    &.mini {
      .carousel-btn{
        display: none;
      }
      .carousel-item {
        margin-right: 0;
        .text-area{
          font-size: 25px;
          margin-top: 0;
          font-weight: 400;
        }
      }
      .slick-dots{
        margin-top: 20px;
      }
      .card{
        width: 100%;
      }
    }
    &._2{
      .carousel-item{
        .img-area{
          width: 100%;
        }
      }
    }
  }
}

.subscribe-block {
  height: 445px;
  background: url('./img/subscribe-background.jpg');
  text-align: center;
  color: rgb(255, 255, 255);

  .title {
    font-size: 60px;
    font-weight: 300;
  }

  .title2 {
    margin-top: 15px;
    font-size: 21px;
    font-weight: 300;
    text-transform: uppercase;
  }

  form {
    margin-top: 80px;
  }

  ._fc {
    // form control
    $height: 70px;
    height: $height;
    line-height: $height;
    border-radius: 5px;
    font-size: 21px;
    padding: 0 25px;
    vertical-align: middle;
  }

  .input {
    @include noBb;
    background-color: rgb(255, 255, 255);
    width: 400px;
    color: $color1;
  }

  .btn {
    @include noBb;
    margin-left: 30px;
    background-color: rgb(38, 38, 38);
    font-weight: 500;
    text-transform: uppercase;

    &:focus,
    &:hover {
      color: #ccc;
    }
  }
  // xs sm
  @media(max-width: $medium) {
    .title {
      font-size: 40px;
    }

    .title2 {
      margin-top: 15px;
      font-size: 21px;
    }

    form {
      margin-top: 30px;

      ._fc {
        display: block;
        width: 350px;
        max-width: 90%;
        margin: 0 auto;
      }

      .input {
        margin-bottom: 15px;
      }
    }
  }
}
