include ../common.pug
mixin readMore
  .read-more
    +icon('search')
    span.mlm READ MORE
mixin carouselItem(src, title)
  .carousel-item
    a.img-area.has-read-more(href="#")
      img.img(data-src=src)
      +readMore
    .text-area= title
    
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Borocol
    // libraries
    link(href='../node_modules/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='../node_modules/css-spacing/css/css-spacing.min.css ', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:300,400,500', rel='stylesheet')
    //- site
    //- icon font
    link(href='https://file.myfontastic.com/DhuomFVWA52VBraDyGBsZ/icons.css', rel='stylesheet')
    link(href='assets/css/common.css', rel='stylesheet')
    link(href='assets/css/home.css', rel='stylesheet')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js')
  body
    include ../main-header.pug
    .most-viewed-block.home-block.hidden-xs.hidden-sm
      .container
        h2.home-block-title  Most Viewed
        .cards
          //- 2nd
          .card
            img.number-mark(data-src="assets/img/2nd.png")
            .title English Max Course (18 hrs/week)
            a.img-area.has-read-more(href="#")
              img.img(data-src="assets/pic/most-viewed1.jpg")
              .price USD 300,000
              +readMore
            .text-area
              .col-left
                .info
                  +icon('graduation-hat')
                  .text-area2 Connect English Language Institute- Mission Valley
                .info
                  +icon('position')
                  .text-area2 SAN DIEGO, USA
                .info
                  +icon('calendar')
                  .text-area2 20th Feb - 30th March, 2017
              .col-right
                .info
                  +icon('user')
                  .text-area2 5 Spaces left
              .clearfix
          //- 1st
          .card
            img.number-mark(data-src="assets/img/1st.png")
            .title English Max Course (18 hrs/week)
            a.img-area.has-read-more(href="#")
              img.img(data-src="assets/pic/most-viewed2.jpg")
              .price USD 300,000
              +readMore
            .text-area
              .col-left
                .info
                  +icon('graduation-hat')
                  .text-area2 Connect English Language Institute- Mission Valley
                .info
                  +icon('position')
                  .text-area2 SAN DIEGO, USA
                .info
                  +icon('calendar')
                  .text-area2 20th Feb - 30th March, 2017
              .col-right
                .info
                  +icon('user')
                  .text-area2 5 Spaces left
              .clearfix
          //- 3rd
          .card
            img.number-mark(data-src="assets/img/3rd.png")
            .title English Max Course (18 hrs/week)
            a.img-area.has-read-more(href="#")
              img.img(data-src="assets/pic/most-viewed3.jpg")
              .price USD 300,000
              +readMore
            .text-area
              .col-left
                .info
                  +icon('graduation-hat')
                  .text-area2 Connect English Language Institute- Mission Valley
                .info
                  +icon('position')
                  .text-area2 SAN DIEGO, USA
                .info
                  +icon('calendar')
                  .text-area2 20th Feb - 30th March, 2017
              .col-right
                .info
                  +icon('user')
                  .text-area2 5 Spaces left
              .clearfix
    .featured-courses-block.home-block.bg1.hidden-xs.hidden-sm
      .container
        h2.home-block-title  Featured Courses
        .cards-bg
          .card
            .title English Max Course (18 hrs/week)
            a.img-area.has-read-more(href="#")
              img.img(data-src="assets/pic/pexels-photo-110055.jpg")
              .price USD 300,000
              +readMore
            .text-area
              .col-left
                .info
                  +icon('graduation-hat')
                  .text-area2 Connect English Language Institute- Mission Valley
                .info
                  +icon('position')
                  .text-area2 SAN DIEGO, USA
                .info
                  +icon('calendar')
                  .text-area2 20th Feb - 30th March, 2017
              .col-right
                .info
                  +icon('user')
                  .text-area2 5 Spaces left
              .clearfix
          .card
            .title English Max Course (18 hrs/week)
            a.img-area.has-read-more(href="#")
              img.img(data-src="assets/pic/pexels-photo-111253.jpg")
              .price USD 300,000
              +readMore
            .text-area
              .col-left
                .info
                  +icon('graduation-hat')
                  .text-area2 Connect English Language Institute- Mission Valley
                .info
                  +icon('position')
                  .text-area2 SAN DIEGO, USA
                .info
                  +icon('calendar')
                  .text-area2 20th Feb - 30th March, 2017
              .col-right
                .info
                  +icon('user')
                  .text-area2 5 Spaces left
              .clearfix
        .cards-sm
          //- 3
          .card
            .title English Max Course (18 hrs/week)
            a.img-area.has-read-more(href="#")
              img.img(data-src="assets/pic/Layer13copy.jpg")
              .price USD 300,000
              +readMore
            .text-area
              .info
                +icon('graduation-hat')
                .text-area2 Connect English Language Institute- Mission Valley
              .info
                +icon('position')
                .text-area2 SAN DIEGO, USA
              .info
                +icon('calendar')
                .text-area2 20th Feb - 30th March, 2017
              .info
                +icon('user')
                .text-area2 5 Spaces left
          //- 4
          .card
            .title English Max Course (18 hrs/week)
            a.img-area.has-read-more(href="#")
              img.img(data-src="assets/pic/pexels-photo-54276copy.jpg")
              .price USD 300,000
              +readMore
            .text-area
              .info
                +icon('graduation-hat')
                .text-area2 Connect English Language Institute- Mission Valley
              .info
                +icon('position')
                .text-area2 SAN DIEGO, USA
              .info
                +icon('calendar')
                .text-area2 20th Feb - 30th March, 2017
              .info
                +icon('user')
                .text-area2 5 Spaces left
          //- 5
          .card
            .title English Max Course (18 hrs/week)
            a.img-area.has-read-more(href="#")
              img.img(data-src="assets/pic/gerlitz-glacier-mountains-in-the-morning-paragliding-65677copy.jpg")
              .price USD 300,000
              +readMore
            .text-area
              .info
                +icon('graduation-hat')
                .text-area2 Connect English Language Institute- Mission Valley
              .info
                +icon('position')
                .text-area2 SAN DIEGO, USA
              .info
                +icon('calendar')
                .text-area2 20th Feb - 30th March, 2017
              .info
                +icon('user')
                .text-area2 5 Spaces left
    .early-bird-courses-block.home-block
      .container
        .pics.flex.justify-sb.hidden-xs.hidden-sm.hidden-md
          a
            img(data-src="assets/pic/Layer103.jpg")
          a
            img(data-src="assets/pic/Layer102.jpg")
        .title-bar
          .home-block-title.title Early Bird Courses
          a.more(href="#") View more »
        //-
        .cards
          .card
            .title English Max Course (18 hrs/week)
            a.img-area.has-read-more(href="#")
              img.img(data-src="assets/pic/Layer13copy.jpg")
              .mark Early Bird SALE
              .price
                span USD 300,000
                .original-price USD 300,000
              +readMore
            .text-area
              .info
                +icon('graduation-hat')
                .text-area2 Connect English Language Institute- Mission Valley
              .info
                +icon('position')
                .text-area2 SAN DIEGO, USA
              .info
                +icon('calendar')
                .text-area2 20th Feb - 30th March, 2017
              .info
                +icon('user')
                .text-area2 5 Spaces left
          //-
          .card
            .title English Max Course (18 hrs/week)
            a.img-area.has-read-more(href="#")
              img.img(data-src="assets/pic/pexels-photo-54276copy.jpg")
              .mark Early Bird SALE
              .price
                span USD 300,000
                .original-price USD 300,000
              +readMore
            .text-area
              .info
                +icon('graduation-hat')
                .text-area2 Connect English Language Institute- Mission Valley
              .info
                +icon('position')
                .text-area2 SAN DIEGO, USA
              .info
                +icon('calendar')
                .text-area2 20th Feb - 30th March, 2017
              .info
                +icon('user')
                .text-area2 5 Spaces left
          //-
          .card
            .title English Max Course (18 hrs/week)
            a.img-area.has-read-more(href="#")
              img.img(data-src="assets/pic/pexels-photo-29737.jpg")
              .mark Early Bird SALE
              .price
                span USD 300,000
                .original-price USD 300,000
              +readMore
            .text-area
              .info
                +icon('graduation-hat')
                .text-area2 Connect English Language Institute- Mission Valley
              .info
                +icon('position')
                .text-area2 SAN DIEGO, USA
              .info
                +icon('calendar')
                .text-area2 20th Feb - 30th March, 2017
              .info
                +icon('user')
                .text-area2 5 Spaces left
          //-
          .card
            .title English Max Course (18 hrs/week)
            a.img-area.has-read-more(href="#")
              img.img(data-src="assets/pic/Layer13copy.jpg")
              .mark Early Bird SALE
              .price
                span USD 300,000
                .original-price USD 300,000
              +readMore
            .text-area
              .info
                +icon('graduation-hat')
                .text-area2 Connect English Language Institute- Mission Valley
              .info
                +icon('position')
                .text-area2 SAN DIEGO, USA
              .info
                +icon('calendar')
                .text-area2 20th Feb - 30th March, 2017
              .info
                +icon('user')
                .text-area2 5 Spaces left
          //-
          .card
            .title English Max Course (18 hrs/week)
            a.img-area.has-read-more(href="#")
              img.img(data-src="assets/pic/pexels-photo-54276copy.jpg")
              .mark Early Bird SALE
              .price
                span USD 300,000
                .original-price USD 300,000
              +readMore
            .text-area
              .info
                +icon('graduation-hat')
                .text-area2 Connect English Language Institute- Mission Valley
              .info
                +icon('position')
                .text-area2 SAN DIEGO, USA
              .info
                +icon('calendar')
                .text-area2 20th Feb - 30th March, 2017
              .info
                +icon('user')
                .text-area2 5 Spaces left
          //-
          .card
            .title English Max Course (18 hrs/week)
            a.img-area.has-read-more(href="#")
              img.img(data-src="assets/pic/pexels-photo-29737.jpg")
              .mark Early Bird SALE
              .price
                span USD 300,000
                .original-price USD 300,000
              +readMore
            .text-area
              .info
                +icon('graduation-hat')
                .text-area2 Connect English Language Institute- Mission Valley
              .info
                +icon('position')
                .text-area2 SAN DIEGO, USA
              .info
                +icon('calendar')
                .text-area2 20th Feb - 30th March, 2017
              .info
                +icon('user')
                .text-area2 5 Spaces left
    .soon-to-start-courses-block.home-block.bg1
      .container
        .title-bar
          .home-block-title.title Soon to Start Courses
          a.more(href="#") View more »
        .cards
          //- 
          .card
            .title English Max Course (18 hrs/week)
            a.img-area.has-read-more(href="#")
              img.img(data-src="assets/pic/hands-people-woman-working.jpg")
              .price USD 300,000
              +readMore
            .text-area
              .info
                +icon('graduation-hat')
                .text-area2 Connect English Language Institute- Mission Valley
              .info
                +icon('position')
                .text-area2 SAN DIEGO, USA
              .info
                +icon('calendar')
                .text-area2 20th Feb - 30th March, 2017
              .info
                +icon('user')
                .text-area2 5 Spaces left
          //-
          .card
            .title English Max Course (18 hrs/week)
            a.img-area.has-read-more(href="#")
              img.img(data-src="assets/pic/hands-people-woman-working.jpg")
              .price USD 300,000
              +readMore
            .text-area
              .info
                +icon('graduation-hat')
                .text-area2 Connect English Language Institute- Mission Valley
              .info
                +icon('position')
                .text-area2 SAN DIEGO, USA
              .info
                +icon('calendar')
                .text-area2 20th Feb - 30th March, 2017
              .info
                +icon('user')
                .text-area2 5 Spaces left
          //-
          .card
            .title English Max Course (18 hrs/week)
            a.img-area.has-read-more(href="#")
              img.img(data-src="assets/pic/pexels-photo-251225.jpg")
              .price USD 300,000
              +readMore
            .text-area
              .info
                +icon('graduation-hat')
                .text-area2 Connect English Language Institute- Mission Valley
              .info
                +icon('position')
                .text-area2 SAN DIEGO, USA
              .info
                +icon('calendar')
                .text-area2 20th Feb - 30th March, 2017
              .info
                +icon('user')
                .text-area2 5 Spaces left
          //- 
          .card
            .title English Max Course (18 hrs/week)
            a.img-area.has-read-more(href="#")
              img.img(data-src="assets/pic/hands-people-woman-working.jpg")
              .price USD 300,000
              +readMore
            .text-area
              .info
                +icon('graduation-hat')
                .text-area2 Connect English Language Institute- Mission Valley
              .info
                +icon('position')
                .text-area2 SAN DIEGO, USA
              .info
                +icon('calendar')
                .text-area2 20th Feb - 30th March, 2017
              .info
                +icon('user')
                .text-area2 5 Spaces left
          //-
          .card
            .title English Max Course (18 hrs/week)
            a.img-area.has-read-more(href="#")
              img.img(data-src="assets/pic/hands-people-woman-working.jpg")
              .price USD 300,000
              +readMore
            .text-area
              .info
                +icon('graduation-hat')
                .text-area2 Connect English Language Institute- Mission Valley
              .info
                +icon('position')
                .text-area2 SAN DIEGO, USA
              .info
                +icon('calendar')
                .text-area2 20th Feb - 30th March, 2017
              .info
                +icon('user')
                .text-area2 5 Spaces left
          //-
          .card
            .title English Max Course (18 hrs/week)
            a.img-area.has-read-more(href="#")
              img.img(data-src="assets/pic/pexels-photo-251225.jpg")
              .price USD 300,000
              +readMore
            .text-area
              .info
                +icon('graduation-hat')
                .text-area2 Connect English Language Institute- Mission Valley
              .info
                +icon('position')
                .text-area2 SAN DIEGO, USA
              .info
                +icon('calendar')
                .text-area2 20th Feb - 30th March, 2017
              .info
                +icon('user')
                .text-area2 5 Spaces left
    .big-block.home-block
      .container
        .pics.flex.justify-sb
          a
            img(data-src="assets/pic/Layer103.jpg")
          a
            img(data-src="assets/pic/Layer102.jpg")
        .home-block-title Adventures
        .carousel._1
          .carousel-btn.btn-left
            +icon('left-open-big')
          .carousel-btn.btn-right
            +icon('right-open-big')
          .carousel-list-wrapper
            .carousel-list
              +carouselItem('assets/pic/pexels-photo-110469copy.jpg', 'Business')
              +carouselItem('assets/pic/Layer15copy.jpg', 'Specially')
              +carouselItem('assets/pic/pexels-photo-110469copy.jpg', 'Professional')
              +carouselItem('assets/pic/Layer15copy.jpg', 'Professional')
              +carouselItem('assets/pic/pexels-photo-110469copy.jpg', 'Business')
              +carouselItem('assets/pic/Layer15copy.jpg', 'Business')
              .clearfix
        //-
        .home-block-title Lifestyle
        .carousel._1
          .carousel-btn.btn-left
            +icon('left-open-big')
          .carousel-btn.btn-right
            +icon('right-open-big')
          .carousel-list-wrapper
            .carousel-list
              +carouselItem('assets/pic/pexels-photo-110469copy.jpg', 'Business')
              +carouselItem('assets/pic/Layer15copy.jpg', 'Specially')
              +carouselItem('assets/pic/pexels-photo-110469copy.jpg', 'Professional')
              +carouselItem('assets/pic/Layer15copy.jpg', 'Professional')
              +carouselItem('assets/pic/pexels-photo-110469copy.jpg', 'Business')
              +carouselItem('assets/pic/Layer15copy.jpg', 'Business')
              .clearfix
        //-
        .home-block-title Categories
        .carousel._1
          .carousel-btn.btn-left
            +icon('left-open-big')
          .carousel-btn.btn-right
            +icon('right-open-big')
          .carousel-list-wrapper
            .carousel-list
              +carouselItem('assets/pic/pexels-photo-110469copy.jpg', 'Business')
              +carouselItem('assets/pic/Layer15copy.jpg', 'Specially')
              +carouselItem('assets/pic/pexels-photo-110469copy.jpg', 'Professional')
              +carouselItem('assets/pic/Layer15copy.jpg', 'Professional')
              +carouselItem('assets/pic/pexels-photo-110469copy.jpg', 'Business')
              +carouselItem('assets/pic/Layer15copy.jpg', 'Business')
              .clearfix
        //-
        .home-block-title Countries
        .carousel._2
          .carousel-btn.btn-left
            +icon('left-open-big')
          .carousel-btn.btn-right
            +icon('right-open-big')
          .carousel-list-wrapper
            .carousel-list
              +carouselItem('assets/pic/Layer7.jpg', 'London')
              +carouselItem('assets/pic/Layer8.jpg', 'Paris')
              +carouselItem('assets/pic/Layer9.jpg', 'Tokyo')
              +carouselItem('assets/pic/Layer10.jpg', 'Havana')
              +carouselItem('assets/pic/Layer11.jpg', 'Cape Town')
              +carouselItem('assets/pic/Layer10.jpg', 'Miami')
              +carouselItem('assets/pic/Layer10.jpg', 'Havana')
              +carouselItem('assets/pic/Layer11.jpg', 'Cape Town')
              +carouselItem('assets/pic/Layer10.jpg', 'Miami')
              .clearfix
    .subscribe-block.home-block
      .title Subscribe to our mailing list
      .title2 BE THE FIRST TO GET LATEST NEWS AND OFFERS!
      form
        //- fc is form control
        input.input._fc(type="text" placeholder="Enter your email")
        button.btn._fc() Subscribe!
    include ../main-footer.pug
    
    //- script
    //- jquery
    script(src="../node_modules/jquery/dist/jquery.min.js")
    //- lazyload
    script(src="../node_modules/vanilla-lazyload/dist/lazyload.min.js")
    script
      include home.js
    script(src="assets/js/common.js")
