// variable
$color1: rgb(51, 51, 51);
$bg1: #F3F2F0;
$small: 768px;
$medium: 992px;
$large: 1200px;
$superLarge: 1500px;

// mixins
@mixin noFocusOutline {
  &:focus{
    outline: none;
  }
}
@mixin noBb {
  border: none;
  background: none;
}
