// variable
$color1: rgb(51, 51, 51);
$bg1: #F3F2F0;
$small: 750px;
$medium: 970px;
$large: 1170px;

// mixins
@mixin noFocusOutline {
  &:focus{
    outline: none;
  }
}
@mixin noBb {
  border: none;
  background: none;
}
