@import "define.scss";

.main-footer{
  ._1{
    background-color: #5B5B5D;
    padding-top: 90px;
    padding-bottom: 140px;
    .title{
      color: #fff;
      font-size: 20px;
      font-weight: bold;
    }
    .links{
      margin-top: 10px;
      line-height: 30px;
      a{
        color: #bababa;
        display: block;
      }
    }
  }
  ._2{
    color: #fff;
    background: #262626;
    padding: 15px 0;
  }
}
