@import "define.scss";

.main-header {
  .brand-bar {
    padding: 60px 0 30px;

    .brand {
      display: inline-block;
    }
  }
  $toolBarHeight: 37.5px;

  .tool-bar {
    $height: $toolBarHeight;
    height: $height;
    line-height: $height;
    font-weight: 500;
    $color: #000;

    a {
      text-transform: uppercase;
      color: $color;
    }

    .divider {
      display: inline-block;
      color: $color;
      padding: 0 1em;
    }

    .btn-black {
      display: inline-block;
      width: $height;
      height: $height;
      line-height: $height;
      padding: 0;
      text-align: center;
      background-color: #000;
      color: #fff;

      .icon {
        font-size: 16px;
      }
      // flex
      flex-shrink: 0;
    }
    // flex
    display: flex;
    align-items: center;
  }
  // xs extra small and small
  @media(max-width: $medium) {
    .container {
      padding: 0;
    }

    .brand-bar {
      padding: 15px 0 15px 30px;
    }

    .tool-bar {
      > :not(.language):not(.btn-black) {
        display: none;
      }

      .search-btn {
        background: inherit;
        margin-left: 0;
        color: inherit;

        .icon {
          position: relative;
          top: -1px;
        }
      }

      .menu-btn {
        background: transparent;
        color: inherit;

        .icon {
          position: relative;
          top: -2px;
        }

        &.active {
          background: #000;
          color: #fff;
        }
      }
    }
  }

  .banner-bar {
    height: 770px;
    overflow: hidden;

    .banner {
      // width: 100%;
    }
    position: relative;
    // layout block
    .lb1 {
      position: absolute;
      top: 0;
      width: 100%;
      overflow: visible;
    }
  }

  .course-search-card {
    $scale: 1;
    $width: 480px * $scale;
    $height: $width * 1.3;
    $cardHeight: $height;
    width: $width;
    height: $height;
    padding: 40px 30px 40px 40px;

    .search-wrapper {
      $height: 40px;
      height: $height;
      border-bottom: 3px solid #fff;
      position: relative;
      //
      $iconH: 30px;

      .btn-icon {
        @include noFocusOutline;
        width: $iconH;
        height: $iconH;
        line-height: $iconH;
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;

        .icon {
          font-size: 25px;
          color: #cecece;
        }
      }

      .input {
        @include noFocusOutline;
        @include noBb;
        width: 100%;
        height: 100%;
        font-size: 18px;
        padding-right: $iconH;
      }
    }

    .data-rows-wrapper {
      margin-top: 30px;
      height: $cardHeight - 40 * 2 - 30 - 40;
      overflow-y: auto;
    }

    .data-row {
      height: 70px;
      margin-bottom: 20px;
      $imgAreaWidth: 100px;

      .img-area {
        width: $imgAreaWidth;
        height: 100%;
        float: left;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .text-area {
        margin-left: $imgAreaWidth + 15px;

        .title {
          font-size: 13px;
          font-weight: bold;
          color: #444444;
        }

        .description {
          font-size: 11px;
          color: #888888;
          line-height: 15px;
          margin-bottom: 6px;
        }

        .info {
          font-size: 11px;
          color: #888888;
        }
      }
    }
    // lg large to superLarge
    @media(min-width: $large) and (max-width: $superLarge) {
      $scale: 0.7;
      $width: 480px * $scale;
      $height: $width * 1.5;
      $cardHeight: $height;
      width: $width;
      height: $height;

      .data-rows-wrapper {
        height: $cardHeight - 40 * 2 - 30 - 40;
      }
    }
  }

  .menu-card {
    display: none;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    width: 300px;
    padding: 20px;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;

    .menu-item {
      a {
        color: $color1;
        display: block;
        padding: 5px 10px;
        border-bottom: 3px solid #fff;
      }
    }

    .sub-menu {
      padding-left: 20px;
      display: none;
    }
  }

  .filter-bar {
    padding-top: 25px;
    padding-bottom: 30px;
    text-align: center;

    .select1 {
      width: 330px;
    }

    .country-select {}

    .subject-select {
      margin-left: 25px;
    }

    .btn1 {
      width: 210px;
      margin-left: 100px;
      font-size: 17px;
      font-weight: bold;
    }
    // md
    .container {
      // md medium 中等屏幕 桌面显示器
      @media(max-width: $large) and (min-width: $medium) {
        display: flex;
        justify-content: space-between;
      }
      // xs sm
      @media(max-width: $medium) {
        display: block;
        .select1, .btn1{
          display: block;
          width: 350px;
          max-width: 90%;
          margin: 0 auto;
        }
        .select1{
          margin-bottom: 15px;
        }
      }
    }
  }
}
